@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Badeen+Display&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px ;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  background-color: #000000;
  width: 100%;
  height: 60px;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0px;
z-index: 1;
}
header>div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#right-header>button{
  padding: 5px 18px;
  border-radius: 10px;
  font-weight: 600;

}
#right-header>button:hover{
  background-color: #d5d5d5;
  transition: .3s;
}
header>div h1{
 color: #ffffff;
}
.header-nav{
  display: flex;
  gap: 20px;
}
header>div>div>a{
  text-decoration:none;
  color: #ffffff;
   padding: 10px;
  border-radius: 20px;
}

header>div>div>a:hover{
  background-color: #333;
 
  transition: .3s ease;
}
.marginbox-left{
  margin-left: 80px ;
}
.marginbox-right{
  margin-right: 80px;
}

nav{
  display: flex;
  justify-content: space-between;
 align-items: center;
 width: 100vw;
 height: 60px;
}
nav>h1{
  font-size: 1.6rem;

}
nav>h1:hover{
  background-color: #d1d1d1;
  border-radius: 50%;
  padding: 8px 0px;
  transition: .3s ease;
}
nav>ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px

}

nav>ul>li{
  list-style: none;
}
nav>ul>li>a{
  text-decoration: none;
  color: #6B6B6B;
  font-size: .9rem;
}

nav>ul>li>a:hover{
color: #000000;
transition: .3s ease;
}

#Hero-section{
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 80px;
  width: 100%;
  padding: 60px;
}
.hero-box{
  width:35% ;
}
#right-hero{
  width: 50%;
}
#left-hero{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#uber-down{
  display: none;
}
#left-hero>p>span{
  margin: 0px 10px;
}
#left-hero>p>span>a{
  
  color: #000000;
}
#left-hero>p>span>a:hover{
  background-color: #eae8e8;
  border-radius: 20px;
}
#left-hero>h1{
  font-size: 3.23rem;
  font-weight: 700;

}
.tag-hero{
  color: rgb(123, 201, 7);
}

#left-hero>div>div>input{
  width: 350px;
  padding: 15px 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: #d9d9d9;

}



.hero-location{
  position: relative;
  top: 0px;

}

.hero-border{
  height: 100px;
  width: 0px;
  border: 1px solid black;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.hero-pickup{
  position: relative;
  top: 0px;
  
}
 .hero-drop{
  position: relative;
  top: 0px;
  width: auto;
 }

.in-pick{
  position: absolute;
  top: 9px;
  left: 14px;
}
.in-drop{
  position: absolute;
  top: 15px;
  left: 14px;
}

.btn{
padding: 15px;
border-radius: 10px;
border-style: none;
}
.primary-btn{
  background-color: #000000;
  color: #ffffff;
}
.second-btn{
  background-color: #d1d1d1;
  color: #000000;
}
.second-btn:hover{
background-color: #c9c9c9;
}
#sug-main{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}
.suga-big-box{
display: flex;
flex-wrap: wrap;
gap: 20px;
}
.suga-box{
  width: 400px;
  height: auto;
  padding: 16px;
  display: flex;
  border-radius: 10px;
  background-color:#F3F3F3;
}
.suga-box>div>img{
  width: 128px;
  height: 128px;
}
.suga-box>div>button{
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  background-color: white;
  width: 100px;
}
.suga-box-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left-plan{
  background-color: #9dcdd6;
  width: calc(100%-334px);
  display: flex;
height: 400px;
border-radius: 20px;
}
.left-plan>div>h1{
font-size: 40px;
}
.plan-main{
display: flex;
width: 90vw;
flex-direction: column;
margin: auto;
gap: 40px;
}
.plan-sub{
  display: flex;
  gap: 40px;
}
.sub-left-plan{
  display: flex;
  flex-direction: column;
 gap: 20px;
 padding: 40px;
  
}
.Date-time-section{
display: flex;
gap: 20px;
}


.right-plan{
border: 1px solid rgba(0, 0, 0, 0.064);
border-radius: 10px;
padding: 10px; 
display: flex;
flex-direction: column;
gap: 40px;

}
.right-ben{
  display: flex;
  gap: 20px;
  align-items: center;

}
.p-ben{
  width: 100%;

}

.p-ben>hr{
  margin-top: 10px;
  color: #6B6B6B;

}
.right-plan>a{
 color: #6B6B6B;
 text-decoration: underline dotted;
}
.brain-section{
  margin-top: 80px;
}
.brain-main{
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
}
.right-brain,.left-brain{
  width: 35%;
}
.right-brain{
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}
.right-brain>a{
  text-decoration: underline dotted;
  color: #6B6B6B;
  text-underline-offset: 8px;
}
.help-section{
  margin-top: 80px;
}
.main-help-section{
  width: 85vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
}
.bottom-help-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
gap: 40px;
}
.help-box{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.help-box>img{
  width: 300px;
}

footer{
  background-color: #000000;
padding: 40px 0px;
margin-top: 80px;
}
footer a:hover{
color: #d1d1d1;
transition: a .3s ease;
}
footer h4,a{
color: #ffffff;
text-decoration: none;
}
.logo-upper-section{
  color: white;
  font-weight: 500;
  font-size: 30px;
margin-bottom:40px;
}
#main-footer{
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-links{
  display: flex;
 gap: 150px;
 flex-wrap: wrap;
}

.footer-sublinks>ul>li{
list-style: none;
margin-bottom: 10px;
font-size: 13px;
font-weight: 200px;
}
.footer-sublinks>h4{
  margin-bottom: 10px;
}
.media-icons>ul{
display: flex;
gap:10px;
}
.media-icons>ul>li{
  list-style: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
}

.media-icons>ul>li:hover{
background-color: #f3f3f316;
}

.footer-icon{
  display: flex;
  justify-content: space-between;
}
.app{
  width: 128px;
}
.footer-app-section{
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer-terms-section{
  display: flex;
  justify-content: space-between;
}
.footer-terms-section>p{
  font-size: 10px;
  color: #c9c9c9;
}
.footer-terms-section>ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
>ul>li{
  font-size: 10px;
  list-style: none;
}



@media screen  and (max-width:1132px){
  #right-hero,.second-btn{
    display: none;
    justify-content: center;
    align-items: center;
  }

  #Hero-section{
       flex-direction:column;
    align-items:flex-start;
  }
  #uber-down{
    display:inline;
   
  }
  .plan-sub{
    flex-direction: column;
  }
  .left-plan{
    width: 100%;

  }
  .header-nav{
    display: none;
  }
  nav>ul{
    display: none;
  }
  .brain-main{
    flex-direction: column;

  }
.left-brain,.right-brain{
  width: 100%;
}
}

@media screen and(max-width:754px) {
  .left-plan>img{
    display: none;
  }
}